app/assets
app/db.sqlite3
app/error.log
app/debug.log

app/samplestore/local_settings.py
app/__pycache__/*
app/**/__pycache__/*

samplestoredb-data/*

debug.log
error.log
.DS_Store
docker-compose.override.yml
